
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 300px;
    background: #f1f1f1;
    margin: 100px auto 0;
    word-break: break-all;
  }
  .button:hover{
    color: red;

  }
  .move{
    margin-right: 10px;
  }
  .bloc-tabs{
    background-color: aliceblue;
  }
  .button{
    border-radius: 30px;
    height: 30%;
  }
  .bloc-tabs {
    display: flex;
  }
  .tabs {
  
    padding: 2%;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 1.7vw;

  }

  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    transition-duration: 40s;
    transform-style: flat;
    box-shadow: 5pt wheat;
  }
  .billbord{
    margin-top: -5%;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 12ms;
    transition-property: initial;
    width: calc(100% + 2px);
    height: 5px;
  }
  
  
  
  button {
    border-radius: 5%;
    display: flex;
  
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .button:hover{
    color: rgb(64, 126, 155);
  }
  .content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
  }
  .span{
    color: rgb(64, 126, 155);
  }
  .content h2 {
    padding: 0px 0 5px 0px;
    color: rgba(228, 32, 18, 0.719);
    font-weight: 600;
    font-size: 4vh;
  }
  .header{
    font-weight: 600;
    margin-left: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(64, 126, 155) ;
  }
  .icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 1%;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: rgba(36, 29, 131, 0.685);
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  .flex{
    display: flex;
  }
  
.about{
    margin-top: 15%;
    width: 100%;
    height: 500px;
  }
  .h1{
    font-size: 4vh;
    margin-top: 4%;
    font-weight: 800;
    text-align: center;
  }
  .foundation{
    color: rgb(64, 126, 155);

  }
  .div_text{
    margin-top: 3% ;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

  }
  @media only screen and (max-width: 1005px) {
    .header{
      font-weight: 600;
      margin-left: 5px ;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color:  rgb(64, 126, 155) ;
    }

    .flex{
      display:contents;
    }
    .billbord{
      margin-top: -26%;
      display: none;
    }
    .icon{
      margin-top: -2%;
    }

.content h2{
  margin-top: 4px;
}
  }